@charset "UTF-8";

body {
    margin: 0 0 0 0; /* ページ全体の四隅のスペースをなくす */
    padding: 0;
    background: rgba(231, 208, 169, 0.01);
    color: #2f514f;
}
main {
	background: rgba(231, 208, 169, 0.06);
	padding: 60px;
}
img {
	/*width: 100px;*/
	max-width: 100px;
    height: auto;
}

header {
    height: 70px;
    width: 100%;
    background-color: #f2acac;
    padding: 10px;
    display: flex;          /* 追加：flexで横並びに */
    align-items: center;    /* 追加：縦方向中央揃え */
    justify-content: space-between; /* 任意：左右にメニューやロゴを配置する場合 */
    /* flex-wrap: wrap; /* 画面幅が足りないとき折り返し */ 
}
footer {
	width: 100%;
	padding: 10px;
    background-color: #9fdfec;
    text-align: center;
}