@charset "UTF-8";

html,body {
    margin: 0 0 0 0; /* ページ全体の四隅のスペースをなくす */
    padding: 0;
    background: rgba(231, 208, 169, 0.01);
    color: #2f514f;
}
main {
	background: rgba(231, 208, 169, 0.065);
	padding: 60px;
}
img {
	/*width: 100px;*/
	max-width: 100px;
    height: auto;
}

header {
    height: 70px;
    width: 100%;
    background-color: #f2acac;
    padding: 10px;
    display: flex;          /* 追加：flexで横並びに */
    align-items: center;    /* 追加：縦方向中央揃え */
    justify-content: space-between; /* 任意：左右にメニューやロゴを配置する場合 */
    /* flex-wrap: wrap; /* 画面幅が足りないとき折り返し */ 
}
footer {
	width: 100%;
	padding: 10px;
    background-color: #9fdfec;
    text-align: center;
}
#brand {
  display: flex;
  flex-wrap: nowrap;       /* 折り返さない */
  align-items: center;     /* 上下中央揃え */
  gap: 10px;               /* ロゴとタイトルの間にスペース */
  /* flex-shrink: 1; /* 幅が狭くても潰れすぎない */
}
h1 {
  margin: auto;
  font-size: 35px;
  margin: 0;
}
#logo {
  /* height: 40px; */
  margin-right: 10px;
}

@media screen and (max-width: 400px) {
  #h1 {
    height: 70px;
    margin-top: 12.6px;
  }

  #logo {
    height: 30px;
  }
}

/* ハンバーガーメニュー*/
.menu_boxWrapBg{
    display:none;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom:0;
    margin:auto;
    z-index: 9;
}
.menu_boxWrapWrap.active .menu_boxWrapBg{
    display:block;
}
.menu_boxWrap{
    position: fixed;
    top: 0;
    right: -420px;
    z-index: 99;
    width: 300px;
    height: auto;
    transition:0.3s;
}
.menu_boxWrapWrap.active .menu_boxWrap{
    right:0px;
    transition:0.3s;
}
#menu{
    cursor: default;
}
.menu_box_close{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f2acac;
    color:#2f514f;
    height:80px;
    cursor:default;
    border-bottom: 1px solid #fff;
}
.menu_box_close:hover {
  background: #eee;
}
.menu_box_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu_box_list_items_link {
  display: block;
  padding: 25px;
  color: #2f514f;
  text-decoration: none;
  background: #f2acac;
  border-bottom: 1px solid #fff;
  text-align: center;
  cursor:default;
}
.menu_box_list_items_link:hover {
  background: #eee;
}

@media screen and (max-width: 844px) {

 footer {
	padding: 10px;
	padding-bottom:30px;
    background-color: #9fdfec;
    text-align: center;
 }
 }